.App {
    height: 100vh;
    background-color: #0C356A;
}

img {
    background: white;
    border-radius: 36px !important;
}
.card{
    background-color: #0174BE;
    padding-top: 16px;
}
button{
    background-color: #0C356A !important;
}